* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 300;
    background-image: repeating-linear-gradient(90deg, #fff, #fff 20px, #fbfbfb 20px, #fbfbfb 40px);
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

a {
    text-decoration: none;
}

.contenedor {
    width: 90%;
    max-width: 1200px;
    margin: 20px auto;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, auto);
    grid-template-areas:
        'header			header   	header'
        'destacado		destacado 	destacado'
        'contenido		contenido 	aside'
        'footer	 		footer 		footer';
}

/* ---------- HEADER ----------*/
.header {
    grid-area: header;
    padding: 20px;
    background: rgb(199, 18, 18);
    box-shadow: 0px 0px 70px rgba(102, 102, 102, 0.2);
}

.header .logo {
    margin-bottom: 20px;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 3px;
}

.logo h1 {
    font-size: 30px;
}

.logo .iniciales-logo {
    padding: 5px;
    border: 2px solid #000;
    display: inline-block;
    font-size: 16px;
    margin-bottom: 15px;
}

.menu {
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    display: flex;
    justify-content: space-between;
}

.menu a {
    padding: 10px;
    color: #000;
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 400;
    width: 100%;
    text-align: center;
    transition: 0.2s ease all;
    font-size: 16px;
}

.menu a:hover {
    background: #000;
    color: #fff;
}

/* ---------- Articulos ----------*/
.articulo {
    display: flex;
    background: #fff;
    box-shadow: 0px 0px 70px rgba(102, 102, 102, 0.2);
}

.articulo .contenedor-texto {
    padding: 20px;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}

.articulo .contenedor-thumbnail {
    width: 50%;
}

.articulo .titulo {
    margin-bottom: 10px;
    font-size: 25px;
}

.articulo .titulo a {
    font-weight: 400;
    color: #000;
}

.articulo .fecha {
    font-size: 16px;
    color: #868b8d;
    margin-bottom: 10px;
}

.articulo .extracto {
    font-size: 20px;
    line-height: 25px;
    font-weight: 300;
    margin-bottom: 20px;
    color: #868b8d;
}

/* ---------- Articulo Destacado ----------*/
.articulo.destacado {
    grid-area: destacado;
    color: white;
    background-color: #000;
    box-shadow: 0px 0px 70px rgba(102, 102, 102, 0.2);

    display: grid;
    grid-template-columns: 1.3fr 1fr;
}

.articulo.destacado .contenedor-thumbnail {
    min-height: 100%;
    width: 100%;
}

.articulo.destacado .contenedor-thumbnail a {
    display: inline-block;
    width: 100%;
    height: 100%;
}

.destacado .titulo a {
    color: #fff;
}

.destacado .titulo::after {
    content: '';
    margin: 0.625em 0;
    display: block;
    background-color: #868686;
    width: 6em;
    height: 1px;
}

.btn-link {
    color: #fff;
    cursor: pointer;
    display: inline-block;
    padding: 0.625em;
    background-color: #262626;
    font-size: 1em;
    text-transform: uppercase;
    letter-spacing: 1px;
    align-self: flex-end;
}

.btn-link:hover {
    background: #000;
    text-decoration: none;
}

/*---------- CONTENIDO ----------*/
.contenido {
    grid-area: contenido;
    display: grid;
    grid-template-columns: 1;
    grid-gap: 20px;
}

/*---------- SIDEBAR ----------*/
.sidebar {
    padding: 5em 25px;
    text-align: center;
    min-height: 100px;
    grid-area: aside;
    background: #000;
    color: #868b8d;
    box-shadow: 0px 0px 70px rgba(102, 102, 102, 0.2);
}

.sidebar .acerca-de img {
    /* border-radius: 100%; */
    height: 15em;
    width: 15em;
    margin-bottom: 25px;
}

.sidebar .bio {
    margin-bottom: 25px;
    font-size: 20px;
    line-height: 25px;
}

.sidebar .menu {
    width: 100%;
    display: inline-block;
    background: #ccc;
}

.sidebar .menu a {
    padding: 25px;
    color: #fff;
    background-color: #000;
    display: block;
    font-size: 1em;
    text-transform: uppercase;
}

.sidebar .menu a:hover {
    background: #262626;
}

/*---------- FOOTER ----------*/
.contenedor .footer {
    background: rgb(201, 21, 21);
    font-size: 20px;
    grid-area: footer;
    padding: 25px;
    text-align: right;
    box-shadow: 0px 0px 70px rgba(102, 102, 102, 0.2);
}

/* ESTILOS PAGINA MULTIMEDIA */




.galeria-imagen {
max-width: 400px;
max-height: 400px;

}

/* ESTILOS CONTACTO */


#contacto {
    background: radial-gradient(red, white);
    display: grid;
    grid-template: auto 100px / 700px;
    justify-content: center;
    align-content: center;
    box-sizing: border-box;




}

#contacto input {
    padding: 20px 10px;
    box-sizing: border-box;
    font-size: 18px;
    border-radius: 5px;
    border: none;
    width: 100%;
}

textarea {
    padding: 20px 10px;
    box-sizing: border-box;
    font-size: 18px;
    border-radius: 5px;
    border: none;
    width: 100%;
}

#contacto .redes-sociales {
    justify-self: center;
    padding: 10px 0;
}

#contacto .redes-sociales a {
    color: white;
}

#contacto form input[type="submit"] {
    background-color: rgb(255, 0, 0);
    font-weight: bold;
    font-size: 28px;
}


/* ESTILOS TABLA-FUTBOL */

table {
    background-color: rgb(0, 0, 0);
    color: white;
}











@media (max-width: 1200px) {
    body {
        font-size: 14px;
    }



@media (max-width: 768px) {
    .articulo.destacado {
        display: grid;
        grid-template-columns: 1fr;

}
    .articulo.destacado .contenedor-thumbnail {
        height: 18em; 
    }
    .contenedor {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(5, auto);
        grid-template-areas:
            'header			header   	header'
            'destacado		destacado 	destacado'
            'contenido		contenido 	contenido'
            'aside		    aside 	        aside'
            'footer	 		footer 		footer';
    }
}


@media (max-width: 468px) {
body {
    font-size: 14px;
}


}